[Unit]
Description=Run speedtest to influx

[Service]
EnvironmentFile=/etc/default/speedtest
ExecStart=/usr/local/bin/speedtest

[Install]
WantedBy=multi-user.target